@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: rgba(19, 62, 135, 1);
    --secondary: rgba(203, 220, 235, 1);
    --foreground: 0 0% 3.9%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;

    --foreground: 0 0% 98%;
  }
}
